{% extends 'AcmeFrontBundle::BrandDevice/brand/base.html.twig' %}
{% block box %}
<div class="property-desc">
    <h3><strong>{{ brand.name }}</strong> - producent urządzeń kuchennych </h3>
    <p>{{ brand.description }}</p>
</div>
{% endblock %}